@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

body {
    font-family: "Montserrat", sans-serif;
}

/* Footer */

.green-text:hover {
    color: #08872b;
}

/* Font: Kitten Paws */
@font-face {
    font-family: 'Kitten Paws';
    src: url('/src/assets/fonts/KittenPaws-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }